NODE_ENV=development
IM_PORT=3100
IM_HTTP_PORT=8100
IM_BIND_HOST=127.0.0.1
IM_PUBLIC_ORIGIN=http://localhost:8100
IM_ADMIN_ORIGIN=http://localhost:8101
IM_SESSION_SECRET=replace-with-at-least-32-random-characters
IM_SSO_PUBLIC_KEY_FILE=./secrets/im_sso_public.pem
IM_DATABASE_URL=memory:
IM_REDIS_URL=
IM_GROUP_DEFAULT_LIMIT=100
IM_GROUP_HARD_LIMIT=5000
IMAGE_HOST_ENDPOINT=https://img.scdn.io/api/v1.php
IMAGE_HOST_CDN_DOMAIN=img.scdn.io
IMAGE_HOST_STORAGE_DESTINATION=telegram
